/*
    You can add your own custom styles here.
*/

.site-description {
    white-space: pre-line;
    word-break: break-word;
}

#pio {
	height: 180px !important;
    vertical-align: middle !important;
}

.pio-action {
    display: none;
}

#dark-mode-toggle {
    display: none;
}